{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Edit Profile{% endblock %}

{% block page_content %}
{% include "data/navbar.html" %}
<div class="page-header">
    <h1>List Seasons Names</h1>
</div>
<a href="{{ url_for('.seasons_add') }}"><span class="label label-primary">Add</span></a>
<ul class="list-group">
{% for item in list %}
  <li class="list-group-item">
    <a href="{{ url_for('.seasons_edit', id=item.id) }}">{{ item.name }}
        <span class="label label-primary">Edit</span>
    </a>
    <a href="{{ url_for('.seasons_delete', id=item.id) }}" class="delete-item">
        <span class="label label-primary">Delete</span>
    </a>
  </li>
{% endfor %}
</ul>

{% endblock %}
