{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}La Provence - Dashboard{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Stats </h1>
    {% if current_user.is_authenticated %}
      {{ current_user}}
    {% else %}
      Not logged
    {% endif %}
</div>

<form>
  <div class="form-group">

    <label for="exampleFormControlSelect2">TeamsTypes</label>
    <select multiple class="form-control" id="js-teams-teams-types" data-model="{{ teamsTypes['model'] }}">
      {% for item in teamsTypes['list'] %}
      <option data-id="{{ item.id }}" data-type="{{ item.type }}">{{ item.id }} : {{ item.type }}</option>
      {% endfor %}
    </select>

    <label for="exampleFormControlSelect2">Teams</label>
    <select multiple class="form-control" id="js-teams-teams" data-model="{{ teams['model'] }}">
      {% for item in teams['list'] %}
      <option data-id="{{ item.id }}" data-game_name="{{ item.game_name }}" data-real_name="{{ item.real_name }}" data-abbreviation="{{ item.abbreviation }}" data-teams_type_id="{{ item.teams_types_id }}" data-countries_id="{{ item.countries_id }}" data-zones_id="{{ item.zones_id }}">{{ item.id }} : {{ item.game_name }} : {{ item.real_name }} : {{ item.abbreviation }} : {{ item.teams_types_id }} : {{ item.countries_id }} : {{ item.zones_id }}</option>
      {% endfor %}
    </select>
  </div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars.min-latest.js') }}"></script>
<script type="text/javascript" src="{{ url_for('teams.static', filename='js/teams.js') }}"></script>

{% endblock %}
